

.content{
	height: auto;
	background: #fff;
	width: 100%;
	padding: 0 130px;
}

.content-box{
	border-top:1px solid #fff ;
	width: 100%;
	height: auto;
	
}
.content-box .title{	
	position: relative;
	height: 100px;
	line-height: 100px;
	font-size: 44px;
	color: #2A2A30;	
	margin-top: 200px;
}
.content-box .title::after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 5px;
	width: 60px;
	background: #8585ED;
}


				
.instructions{
	width: 1100px;
	font-size: 23px;
	line-height: 38px;
	color: #2A2A30;
	text-align: left;
	margin-top: 20px;	
}

.instructionsList{
	width: 1200px;
	display: flex;
	height: 400px;
	margin-top: 40px;

}
.instructionsItem{
	flex: 1;
	text-align: center;
}

.instructionsItem .b-btn{
	margin-bottom: 20px;
	background: #3B3BEB;
	border-radius: 8px;
	width: 176px;
	height: 47px;
	line-height: 47px;
	text-align: center;
	font-size: 21px;
	color: #FFFFFF;	
	outline: none;	
	border: none;
}
.instructionsItem  .txt-info{
	font-size: 23px;
	color: #82808B;	
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.about{
	position: relative;
	height: auto;
	width: 100%;
	padding:  0 130px;
}

.info-content{
	width: 960px;
	position: relative;
	left: 0;
	padding-top: 150px;
}
 .info-content.right-box{
 	left: 43%;
 }
 .info-content .sub-title{
	width: 100%;
	height: 100px;
}


 .info-content.right-box .sub-title{
 	padding-left: 356px;
 }

 .info-content .sub-title .numbers{
 	height:100px;
 	width: 112px;
 	float: left;
	opacity: 0.3;
	font-family: TsukuBRdGothic-Regular;
	font-size: 100px;
	color: #3B3BEB; 	
 }
 .info-content .title-box{
 	height: 100px;
 	width: 300px;
 	float: left;
 	margin-left: 20px;
 }
 .info-content  .title-box .title-txt{
	font-size: 36px;
	color: #3B3BEB;
	height: 60px;
	line-height: 70px;  	
  }
 .info-content .title-box .title-txt-sub{
	font-size: 28px;
	color: #3B3BEB;
	height: 40px;
	line-height: 30px; 	
 }
 .info-content .info-list{
	width: 100%;
	height: auto;
}
 .info-content .info-list .info-item{
	font-size: 23px;
	color: #82808B; 
	margin-top: 45px;
	line-height: 36px;
	padding-left: 140px;
	background: url(../img/index/bluepoint1.png) no-repeat  109px 10px ;
	background-size:16px 16px;	
 }

.convenient{
	padding: 0 130px;
	width: 100%;
	height: 400px;

}

.convenient	.conv-content{
		width: 600px;
		float: right;
		height: 400px;
		margin-top: 260px;
		margin-bottom:100px ;
	}
	
 .convenient .conv-content .con-title{
		font-size: 44px;
		color: #2A2A30;	
		height: 100px;
		line-height: 100px;
		text-align: left;
		position: relative;
}
 .convenient .conv-content .con-title::after{
 	position: absolute;
 	content: '';
 	width: 60px;
 	height: 4px;
 	background: #8585ED;
 	bottom: 0;
 	left: 0;
 }
 .convenient .conv-content .con-txt{
	font-size: 23px;
	color: #82808B;
	margin-top: 20px;
	line-height: 36px; 	
 }
.convenient .conv-content .con-list{
	height: 120px;
	margin-top: 80px;
	width: 100%;
	display: flex;
}	
.convenient .conv-content .con-list .con-item{
	flex: 1;
	text-align: center;
}
.con-list .con-item p{
	font-size: 23px;
	color: #82808B;	
	text-align: center;
}
.con-list .con-item .bianli{
	height: 46px;
	width: 46px;
	margin-bottom: 10px;
}
.client-side{
	
	height: 100vh;
	width: 100%;
	min-height: 900px;
	display: flex;
	position: relative;
	
}

.blue-side{
	flex: 1;
	background: #3B3BEB;
}

.blue-side .side-list{
	width: 100%;
	height: 600px;
	
}
.blue-side .side-list .side-item{
	padding-right: 220px;
	height: 600px;
	padding-top: 25%;
}
.blue-side .side-list .side-item .side-title{
	font-size: 44px;
	color: #FFFFFF;
	height: 100px;
	width: 100%;
	float: left;
	text-align: right;
	line-height: 100px;	
}

.blue-side .side-list .side-item .side-txt{
	width: 400px;
	text-align: right;
	float: right;
	font-size: 28px;
	color: #FFFFFF;	
	line-height: 46px;
	margin-bottom: 100px;
}
.blue-side .side-list .side-item .can{
	font-size: 23px;
	color: #C3BCF4;
	float: right;
	margin-bottom: 20px;
	width: 100%;
	text-align: right;
	padding-right: 20px;
	background: url(../img/index/bluepoint2.png) no-repeat 100% 6px;
	background-size:16px 16px;	
}


.white-side{
	flex: 1;
	background: #fff;
}

.white-side .phone{
	margin-top: 160px;
	margin-left: 200px;
	height: 610px;
	width: auto;
}

.client-side .side-btn-list{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -65px;
	margin-top: -300px;
	height: 650px;
	width: 120px;
	background: none;
}
.client-side .side-btn-list .btn-item{
	height: 120px;
	width: 120px;
	margin: auto;
	margin-bottom: 10px;
	border-radius:50% ;
	background: none;
	text-align: center;
	position: relative;
	border: 2px solid #6767ED;
	
}

.client-side .side-btn-list .btn-item .img-box{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -45px;
	height: 90px;
	width: 90px;
	border-radius:50% ;
	box-shadow: 0 0 10px -1px rgba(0,0,0,.3);
	background: #fff;
	cursor: pointer;
	transition: all .3s;
}
.client-side .side-btn-list .btn-item .img-box:hover{
	background: #3B3BEB;
}


.client-side .side-btn-list .btn-item .btn-img{
	height: auto;
	margin-top: 14px;
	width: 60px;
}


.percentum{
	padding: 0 130px;
	width: 100%;
	margin-top: 160px;
}

.percentum-list{
	height: 260px;
	width: 100%;
	display: flex;
}
.percentum-list .percent-item{
	flex: 1;
	text-align: center;
}

.percentum-list .percent-item .per-img{
	width: 200px;
	height: auto;
}
.percentum-list .percent-item p{
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 28px;
	color: #2A2A30;	
	margin-top: 15px;
}


.map-content{
	height: 100vh;
	min-height: 900px;
	padding-top: 100px;
}
.num-list{
	height: 40px;
	width: 180px;
	margin: auto;
	margin-top: 20px;
}
.num-list .num{
	font-size: 28px;
	height: 40px;
	width: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
	color: #333;
	border:1px solid #ededed;
	border-radius:4px;
	margin-right: 5px;
}

.swiper-container{
	height: 100px;
	width: 95%;
	overflow: hidden;
	padding: 0 60px;
	position: relative;
	margin: auto;
}

 .swiper-container .city-name{
 	font-size: 24px;
 	margin-top: 20px;
 	text-align: center;
 	color: #333;
 }
  .swiper-container .total {
  	font-size: 18px;
  	margin-top: 20px;
  	text-align: center;
  	color: #666;
  	
  }
